.card-info {
  position: relative;
  color: black;
}

.card-info .sale {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ED3729;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

.card-info h2 {
  line-height: 30px;
}

.dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: black;
}

.dates div {
  text-align: center;
}

.dates h3 {
  border-right: 1px solid rgb(179, 179, 179);
  margin-bottom: 10px;
}

.dates div:last-child h3 {
  border: none;
}

.dates p {
  color: gray;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .swiper-slide {
    margin-right: 22px !important;
  }

  .card-info .sale {
    width: 35px;
    height: 35px;
    font-size: 14px;
    top: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 768px) {
  .cards .swiper-slide {
    margin-right: 90px !important;
  }

  .card-info .sale {
    width: 35px;
    height: 35px;
    font-size: 12px;
    top: 2px;
    right: 2px;
    font-weight: 500;
  }

  .card-info p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .card-info .last-price {
    font-size: 14px;
  }

  .card-info h2 {
    margin-top: 10px;
    line-height: 20px;
    font-size: 18px;
    height: 50px !important;
    margin-bottom: 0px !important;
  }

  .dates {
    margin-bottom: 0px;
  }

  .dates h3 {
    font-size: 16px;
  }

  .dates p {
    color: gray;
    font-size: 10px;
  }

  .additions > div {
    margin: 6px 0;
  }

  .additions svg {
    font-size: 20px;
  }
}