.nav_top {
  color: white;
  background-color: #ED3729;
  padding: 10px 0;
}

.nav_top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_top .nav_about {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_about p {
  margin-right: 30px;
}

.nav_about a {
  color: white;
}

.nav_call {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_call svg {
  font-size: 22px;
}

.nav_call p {
  font-size: 18px;
}

#language {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

#language option {
  background-color: black;
  color: white;
}

.nav_bottom-top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  cursor: pointer;
}

.search {
  border: 1px solid #ED3729;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  padding-left: 12px;
}

.search select {
  padding: 6px;
  background: transparent;
  color: gray;
  outline: none;
  border: none;
  cursor: pointer;
}

.search select option {
  font-size: 14px;
}

.search_inp {
  border: none;
  outline: none;
  border-left: 1px solid gray;
  padding: 0 12px;
  margin-left: 12px;
  font-size: 16px;
  width: 26rem;
}

.search_voice {
  margin-right: 12px;
  display: flex;
  align-items: center;
  color: grey;
  cursor: pointer;
}

.search_btn {
  padding: 12px;
  background-color: #ED3729;
  color: white;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search_btn svg {
  font-size: 18px;
}

.get_info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.get_info > div {
  cursor: pointer;
}

.get_info .login_icon {
  text-align: center;
}

.get_info svg {
  font-size: 24px;
}

.info_icon {
  position: relative;
  text-align: center;
}


.info_icon span {
  position: absolute;
  top: -6px;
  right: 6px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ED3729;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}

.nav_bottom-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav_bottom-down .category {
  padding: 10px 40px;
  border-radius: 6px;
  background-color: #ED3729;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  gap: 6px;
}

.category svg {
  font-size: 18px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.links a {
  color: black;
  transition: all .3s ease;
}

.links a:hover {
  color: #ED3729;
}

.links .link a.active {
  color: #ED3729;
}

@media screen and (max-width: 1280px) {
  .links {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .nav_top .nav_about {
    gap: 10px;
  }

  .nav_about p {
    margin-right: 10px;
    font-size: 14px;
  }

  .nav_about a {
    font-size: 14px;
  }

  .nav_call {
    gap: 10px;
  }

  .nav_call svg {
    font-size: 18px;
  }
  
  .nav_call p {
    font-size: 16px;
  }

  .logo img {
    width: 180px;
  }

  .search {
    padding-left: 0;
  }

  .search select {
    width: 120px;
    font-size: 12px;
  }
  
  .search select option {
    font-size: 12px;
  }

  .search_inp {
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .search_inp {
    font-size: 12px;
  }

  .search_voice {
    margin-right: 10px;
  }

  .search_btn {
    padding: 10px;
  }

  .get_info {
    gap: 10px;
  }

  .get_info svg {
    font-size: 20px;
  }

  .get_info p {
    font-size: 14px;
  }

  .info_icon span {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_bottom-down .category {
    padding: 8px 30px;
  }

  .links {
    gap: 10px;
    font-size: 13px;
  }
}