.advertisement {
  background-color: #F7F7F7;
  padding: 20px;
  margin-bottom: 50px;
}

.swiper-slide {
  background: transparent;
}

.advert_layer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adver_text {
  width: 400px;
  text-align: left;
}

.adver_text h1 {
  margin-bottom: 18px;
  font-size: 40px;
}

.adver_text p {
 color: #909090;
 font-size: 16px;
}

.advert_layer img {
  width: 250px;
}

.adver_price h1 {
  font-size: 42px;
  margin-bottom: 18px;
  color: #ED3729;
}

.adver_price p {
  font-size: 20px;
  color: #909090;
  margin-bottom: 20px;
}

.adver_price button {
  display: inline-block;
  padding: 12px 50px;
  border: 1px solid #ED3729;
  color: #ED3729;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

.adver_price button:hover {
  background-color: #ED3729;
  color: white;
}

.swiper-pagination {
  display: none;
}

@media screen and (max-width: 1024px) {
  .adver_text h1 {
    font-size: 30px;
  }

  .adver_text p {
    font-size: 14px;
  }

  .adver_price h1 {
    font-size: 30px;
  }

  .adver_price p {
    font-size: 16px;
  }

  .adver_price button {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 768px) {
  .adver_text {
    width: 200px;
    text-align: left;
  }

  .adver_text h1 {
    font-size: 20px;
  }

  .adver_text p {
    font-size: 12px;
  }

  .advert_layer img {
    width: 200px;
  }

  .adver_price h1 {
    font-size: 20px;
  }

  .adver_price p {
    font-size: 12px;
  }

  .adver_price button {
    padding: 8px 30px;
  }
}