
.famous a{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 8px;
  padding: 10px 20px;
  color: black;
}

.famous h2 {
  text-align: left;
  font-size: 20px;
}

.famous img {
  width: 100px;
  transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  .famous a {
    padding: 8px 16px;
  }

  .famous h2 {
    font-size: 14px;
  }

  .famous img {
    width: 70px;
  }
}

@media screen and (max-width: 768px) {
  .famous {
    margin-right: 25px !important;
    overflow: hidden;
  }

  .famous a {
    padding: 10px 6px;
  }

  .famous h2 {
    font-size: 12px;
  }

  .famous img {
    width: 40px;
  }
}