
.famous a{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 8px;
  padding: 10px 20px;
  color: black;
}

.famous h2 {
  text-align: left;
  font-size: 20px;
}

.famous img {
  width: 100px;
  transform: scale(1.2);
}